*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;

}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  height: 300px;
  width: 286px;
  background-color: #fff;
  border-radius: 22px;
  padding: 15px 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.top img{
  height: 40px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 8px;
  gap: 2px;
  background-color: transparent;
  color: #b1b1b1;
}



.center h4{
  font-size: 20px;
  font-weight: 680;
 }

 .center h4 span{
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
   color: #8b8b8b;
 }

 .center h2{
  margin-top: 8px;
  font-size: 25px;
  font-weight: 600;
 }

 .center .tag{
  display: flex;
  gap: 20px;
  margin-top: 15px;
 }

 .center .tag h4{
  font-size: 16px;
  background-color: #dadada;
  columns: #111;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 5px;
 }

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7de;
  padding-top: 10px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size: 20px;
}

.bottom p{
  font-size: 15px;
  color: #8b8b8b;
}