
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}

.light{
  display: flex;
  background-color: lightseagreen;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.dark{
  display: flex;
  background-color: darkslategray;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.nav2{
  display: flex;
  gap: 30px;
}