@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


h1{
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: underline;
    font-weight: 600;
    white-space: nowrap;
    text-transform: capitalize;
}