*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue;
  color: #fff;
}

html
body{
  background-color: #111;
  
}

.parent{
padding: 20px;
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.card{
  width: 300px;
  border: 2px solid white;
  padding:30px ;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
  
}

.card p{
  padding: 20px;
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.card button{
  padding: 10px 20px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
}