body{
  width: 100%;
  height: 100%;
}

.card{
  background-color: pink;
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
}

.nav{
  background-color: aqua;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}