*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  background-color:azure;
}

html,
body {
 height: 100%;
 width: 100%;
}

button{
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  color: black;
  background-color: beige;
  font-size: medium;
  font-weight: 800;
}


